<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agua</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <header id="cabecera">
        <h1><a href="/">Naturaleza y Destino</a></h1>
    </header>
    <nav id="menu">
        <ul>
            <li><a href="/agua">Agua</a></li>
            <li><a href="/aire">Aire</a></li>
            <li><a href="/fuego">Fuego</a></li>
            <li><a href="/tierra">Tierra</a></li>
         </ul> 
    </nav>
    <main>
        <section id="Contenido">
            <div id="contenedor1">
                <h1 id="titulo">Agua</h1>
                <img src="/img/agua.png" alt="Elemento agua">
                
            </div>
            <div id="contenedor2">
                <p id="texto">En el taoísmo el agua representa la inteligencia y la sabiduria, aunque la abundancia extrema de este elemento puede causar dificultad de elección y apego a las cosas. En el ciclo de dominación, el agua domina al fuego y es dominada por la tierra. Para Aristoteles, el agua es tanto fria como húmeda, y ocupa un espacio entre el aire y la tierra en las esferas elementales. Se le atribuyen caracteres femeninos, pasivos y fecundantes. Sus signos zodiacales son Cáncer, Escorpio y Piscis.
                </p>
            </div>
        </section>
    </main>
    <footer id="pie">
        <p><a href="#">Contacto</a></p>
        <small>Venezuela 2022</small>
    </footer>
</body>
</html>