<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aire</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header id="cabecera">
        <h1><a href="/">Naturaleza y Destino</a></h1>
    </header>
    <nav id="menu">
        <ul>
            <li><a href="/agua">Agua</a></li>
            <li><a href="/aire">Aire</a></li>
            <li><a href="/fuego">Fuego</a></li>
            <li><a href="/tierra">Tierra</a></li>
         </ul> 
    </nav>
    <main>
        <section id="Contenido">
            <div id="contenedor1">
                <h1 id="titulo">Aire</h1>
                <img src="/img/aire.png" alt="Elemento aire">  
            </div>
            <div id="contenedor2">
                <p id="texto">Algunas cosmogonías proponen el fuego como el origen de todas las cosas pero es más generalizada la creencia de que fue el aire el elemento de partida. Su concentración produce ignición de la que derivan todas las formas de vida. El aire se asocia esencialmente con tres factores: "el hálito vital creador" (simbolizado en la palabra); "el viento de la tempestad", que muchas mitologias vinculan a la idea de creación; y tercero, "el espacio" como ámbito de movimiento y procesos vitales. Se considera activo y masculino. Cuenta con los signos geminis, libra y acuario.</p>
            </div>
        </section>
    </main>
    <footer id="pie">
        <p><a href="#">Contacto</a></p>
        <small>Venezuela 2022</small>
    </footer>   
</body>
</html>