<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuego</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header id="cabecera">
        <h1><a href="/">Naturaleza y Destino</a></h1>
    </header>
    <nav id="menu">
        <ul>
            <li><a href="/agua">Agua</a></li>
            <li><a href="/aire">Aire</a></li>
            <li><a href="/fuego">Fuego</a></li>
            <li><a href="/tierra">Tierra</a></li>
         </ul> 
    </nav>
    <main>
        <section id="Contenido">
            <div id="contenedor1">
                <h1 id="titulo">Fuego</h1>
                <img src="/img/fuego.png" alt="Elemento fuego"> 
            </div>
            <div id="contenedor2">
                <p id="texto">Es masculino al igual que el elemento aire. Se representa en los jeroglicos egipcios con el sentido solar de la llama, asociado con la idea de calor corporal como signo de salud y vida. Investigaciones antropológicas más recientes explican los festivales ignicos, como ejemplos de magia imitativa para asegurar la provisión de luz y calor del Sol o con fines purificatorios, por un lado, y de destrucción de las fuerzas del mal por el otro. En este simbolismo dual, el triunfo y la vitalidad del Sol (espiritu del principio luminoso) sobre las tinieblas, exige la purificación como sacrificio necesario para asegurar la victoria. Sus signos son aries, leo y sagitario. 
                </p> 
                <p> <br> </p>
            </div>
        </section>
    </main>
    <footer id="pie">
        <p><a href="#">Contacto</a></p>
        <small>Venezuela 2022</small>
    </footer> 
</body>
</html>