<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tierra</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header id="cabecera">
        <h1><a href="/">Naturaleza y Destino</a></h1>
    </header>
    <nav id="menu">
        <ul>
            <li><a href="/agua">Agua</a></li>
            <li><a href="/aire">Aire</a></li>
            <li><a href="/fuego">Fuego</a></li>
            <li><a href="/tierra">Tierra</a></li>
         </ul> 
    </nav>
    <main>
        <section id="Contenido">
            <div id="contenedor1">
                <h1 id="titulo">Tierra</h1>
                <img src="/img/tierra.png" alt="Elemento tierra">
            </div>
            <div id="contenedor2">
                <p id="texto"> Se considera pasivo y femenino al igual que el elemento agua, frente al aire y el fuego que son activos y masculinos. En muchas cosmogonias, la tierra y el cielo son dos elementos básicos; así el cielo (principio activo) al fecundar a la tierra (principio pasivo) dio existencia a la naturaleza. Para los pueblos del neolitico la tierra da el ser, es la mátriz universal. Otro aspecto del elemento tierra lo relaciona con los ritos de inhumación, en el sentido de reintegración al seno de la madre, partiendo de la convicción de que la tierra devolverá la vida del mismo modo que ya la dio una vez, el cuerpo enterrado esta destinado a renacer. Sus signos son tauro, virgo y capricornio.</p>
            </div>
        </section>
    </main>
    <footer id="pie">
        <p><a href="#">Contacto</a></p>
        <small>Venezuela 2022</small>
    </footer> 
</body>
</html>